<div class="toolbar">
  <p-fileUpload
    mode="basic"
    chooseLabel="Upload PDF"
    (onSelect)="onFileChange($event)"
    accept=".pdf"
  ></p-fileUpload>
  <input
    type="file"
    (change)="addImageToPage($event)"
    accept="image/*"
    hidden
    #imageUploader
  />
  <p-button
    label="Download PDF"
    icon="pi pi-download"
    (click)="downloadPdf()"
  ></p-button>
  <!-- Add Save and Load buttons -->
  <p-button
    label="Save Document"
    icon="pi pi-save"
    (click)="saveDocument()"
  ></p-button>
  <p-button
    label="Load Document"
    icon="pi pi-folder-open"
    (click)="loadDocument()"
  ></p-button>
</div>

<div class="editor-container">
  <div class="sidebar">
    <h3>Elements</h3>
    <p-button
      label="Add Text"
      icon="pi pi-font"
      (click)="addTextToPage()"
    ></p-button>
    <p-button
      label="Add Image"
      icon="pi pi-image"
      (click)="imageUploader.click()"
    ></p-button>
    <p-button
      label="Add Checkbox"
      icon="pi pi-check-square"
      (click)="addCheckboxToPage()"
    ></p-button>
  </div>

  <div class="pdf-canvas" #pdfContainer>
    <canvas *ngFor="let page of pdfPages; let i = index" #canvasRefs></canvas>
  </div>
</div>
